[package]
name = "sapiens"
version= "0.10.1"
edition.workspace = true
authors.workspace = true
description = "Core - Sapiens"
repository.workspace = true
license.workspace = true
publish.workspace = true
readme = "../README.md"
keywords.workspace = true
categories.workspace = true
documentation = "https://docs.rs/sapiens"

[features]
default = ["clap"]

# derive Clap traits
clap = ["dep:clap"]

[dependencies]
tokio = { version = "1.29.1" }
tracing = "0.1.37"
async-trait = "0.1.71"
lazy_static = "1.4.0"

serde = { version = "1.0.168", features = ["derive"] }
serde_yaml = "0.9.22"

regex = "1.9.1"

clap = { version = "4.3.19", optional = true }

# OpenAI API - OpenAI and lm-sys/FastChat
tiktoken-rs = { version = "0.5.0", features = ["async-openai"] }
async-openai = "0.12.1"
tokenizers = { version = "0.13.3", features = [] }

# GCP Vertex AI Generative Language Models
gcp-vertex-ai-generative-language = "0.1.1"

thiserror = "1.0.43"

[dev-dependencies]
indoc = "2"
insta = { version = "1.31.0", features = ["yaml"] }
