[package]
name = "sapiens_tools"
version= "0.2.2"
edition.workspace = true
authors.workspace = true
description = "The tools - Sapiens"
repository.workspace = true
license.workspace = true
publish.workspace = true
readme = "../README.md"
keywords.workspace = true
categories.workspace = true

package.metadata.cargo-udeps.ignore = ["pyo3-asyncio"]

[features]
default = ["wiki"]
# Hue lights
hue = ["dep:huelib2"]
# MediaWiki: Wikipedia, Wikidata
wiki = ["dep:mediawiki", "dep:serde_json"]

[dependencies]
sapiens = { path = "../sapiens", version = "^0.2.2" }
sapiens_derive = { path = "../sapiens_derive", version = "^0.2.2" }

huelib2 = { version = "0.13.3", optional = true }
mediawiki = { version = "0.2.10", optional = true  }

serde = { version = "1.0.160", features = ["derive"] }
serde_yaml = "0.9.21"
serde_json = { version = "1.0.96", optional = true }

tokio = { version = "1.27.0", features = ["macros"] }
async-trait = "0.1.68"

regex = "1.7.3"

pyo3 = { version = "0.18.3", features = [] }

tiktoken-rs = { version = "0.4.1", features = ["async-openai"] }
async-openai = "0.10.3"

convert_case = "0.6.0"

thiserror = "1.0.40"

[dev-dependencies]
indoc = "2"
serde_json = "1.0.96"
insta = { version = "1.29.0", features = ["yaml"] }
tokio = { version = "1.14.0", features = ["macros"] }
pyo3-asyncio = { version = "0.18.0", features = ["attributes", "tokio-runtime", "testing"]  }

