name: Rust

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Install lld
      run: sudo apt-get update && sudo apt-get install -y lld wget unzip
    - name: Install latest nightly
      uses: actions-rs/toolchain@v1
      with:
        toolchain: nightly
        override: true
        components: rustfmt, clippy
    - name: Install protoc and protoc-gen-rust
      uses: arduino/setup-protoc@v1
    - name: Build
      uses: actions-rs/cargo@v1
      with:
        command: build
    - name: 'Create env file'
      run: |
        echo "${{ secrets.ENV_FILE }}" > .env
    - name: Test
      uses: actions-rs/cargo@v1
      with:
        command: test

  check:
    runs-on: ubuntu-latest

    steps:
    - name: Install latest nightly
      uses: actions-rs/toolchain@v1
      with:
        toolchain: nightly
        override: true
        components: rustfmt, clippy
    - name: Install cargo-all-features
      run: cargo install cargo-all-features
    - name: Checkout
      uses: actions/checkout@v2
    - name: Check (all-features)
      uses: actions-rs/cargo@v1
      with:
        command: check-all-features
    - name: Clippy
      run: cargo clippy -- -D warnings

